/* Reseteo de estilos */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;

  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 200;

  font-size: 10px;
  line-height: 1.5;

}

.hamburger {
  position: absolute;
  /* o fixed si quieres que esté siempre visible */
  top: 20px;
  right: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 10;
  /* Asegura que esté por encima de otros elementos */
}

body {
  width: 100%;
  padding: 0px;
  background-color: #ffffff;
  color: #000000;
}

header {
  width: 100%;
  background-color: #372323dc;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 2rem;
  justify-content: center;
  border-bottom: 2px solid #000000;

}

header h1 {
  font-size: 3rem;
  color: #000000;
  margin-bottom: 1rem;
}

h2 {
  padding: 0;
  margin: 0;
}

header figure img {
  max-width: 180px;
}

/* Estilo de navegación principal */

nav {
  display: flex;
  background-color: #0097b6;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.navegar {
  display: none;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Mostrar el menú al hacer clic */
.nav-active {
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

nav ul li {
  margin: 0rem;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0px 1rem;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

nav ul li a:hover {
  border-color: #4caf50;
  background-color: red;
  color: #ffffff;
  font-size: 1.5rem;
}

/* Banner */
.banner {
  width: 100%;
  height: 300px;
  background-image: url("../assets/banner.png");
  /* URL de la imagen de fondo */
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
}

/* Contenedor principal */
.container {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contenido-principal {
  display: flex;
  flex-wrap: wrap;
}

main {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;
  font-size: 1rem;
  background-color: #FEA911;

  background: rgb(209, 89, 49);
  background: linear-gradient(90deg, rgba(209, 89, 49, 1) 0%, rgba(223, 148, 19, 1) 20%, rgba(254, 239, 17, 1) 55%, rgba(0, 194, 255, 1) 100%);

  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
}

section {
  justify-content: center;
  text-align: center;
}

/* Artículo principal */
article {
  text-align: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.398);

  color: #f5f5f5;
  background-color: #000000b0;
  filter: brightness(1.3);

  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

article h2 {
  color: #eeff00;
  margin: 1rem;
}

article p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

article ul li {
  list-style: none;
}

/* Barra lateral */
aside {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #0f0f0fcc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

aside h2 {
  color: #00FFFF;
  margin: 1rem;
  text-align: center;
}

aside ul {
  list-style: none;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  color: rgb(255, 77, 0);
  text-decoration: underline;
  transition: color 0.5s ease;
}

aside ul li a:hover {
  color: #4caf50;
  transition: color 0.5s ease;

}

.map {
  margin-top: 20px;
}

.map iframe {
  width: 100%;
  height: 500px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

pre {
  background-color: #000000;
  color: rgb(0, 255, 30);
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  font-weight: 600;
  align-items: center;
  text-align: left;
  /* Permite el ajuste de línea */
}


.nav-burguer {
  display: flex;
}

.menu.active {
  display: flex;
  flex-direction: column;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 300px;

  font-size: 4rem;

  background: #000000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  /* Espacio interno del footer */
  text-align: center;
  /* Centra el texto y los enlaces */

  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer .footer-links {
  margin-bottom: 10px;
}

footer .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.footer-content {
  max-width: 1200px;
  /* Ancho máximo del contenido del footer */
  margin: 0 auto;
  /* Centra el contenido horizontalmente */
}

.social-links {
  margin-bottom: 20px;
  /* Espacio debajo de los íconos de redes sociales */
}

.social-icon {
  margin: 0 10px;
  /* Espacio entre los íconos */
  display: inline-block;
  /* Alinea los íconos horizontalmente */
}

.social-icon img {
  width: 70px;
  /* Tamaño de los íconos de redes sociales */
  height: 70px;
  /* Tamaño de los íconos de redes sociales */
  vertical-align: middle;
  /* Alinea los íconos verticalmente */
  transition: opacity 0.3s ease;
  /* Efecto de transición para el hover */
}

.social-icon:hover img {
  opacity: 0.8;
  /* Efecto de hover en los íconos */
}

.footer-text {
  font-size: 1.5rem;
  /* Tamaño de fuente del texto del footer */
  line-height: 1.5;
  /* Altura de línea para mejorar la legibilidad */
}

.contenido-principal-htlm{
display: flex;
flex-direction: column;
}
.contenido-principal-htlm main, aside {
  flex-basis: 100%;

}


/* Para dispositivos medianos: móviles grandes y tablets en modo vertical (576px a 767px) */
@media (min-width: 576px) and (max-width: 767px) {
  html {
    width: 100%;
    font-size: 10px;
  }

  body {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  header {
    background-color: #ff0000;
    align-items: center;
    justify-content: space-between;
  }

  header h1 {
    font-size: 3rem;
    text-align: center;
  }

  iframe {
    height: 250px;
  }

  nav ul {
    flex-direction: row;
  }

  .menu.active {
    display: flex;
  }


  nav ul li {
    margin: 15px 0;
  }

  main {
    gap: 1rem;
    justify-content: space-between;
  }

  article {
    font-size: 2.5rem;
  }

  article p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  aside {
    padding: 1rem;
    font-size: 2rem;

  }
}

/* Para tablets y pantallas pequeñas: dispositivos entre 768px y 991px */
@media (min-width: 768px) and (max-width: 991px) {

  html {
    font-size: 10px;
  }

  body {
    background-color: #f5f5f5;
  }

  header {
    background-color: #fe1193;
    color: white;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  header h1 {
    padding: 1rem;
  }

  header figure img {
    max-width: 150px;
  }

  .hamburger {
    display: none;
  }

  .container {
    width: 95%;
  }

  .contenido-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .contenido-principal-css{
    display: flex;
    flex-wrap: wrap;
  } 
 
  .contenido-principal-css main {
    flex-basis: 100%;
  }
  .contenido-principal-css section {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }

  .contenido-principal-html article {
  flex-basis: 100%;
  flex-direction: row
  }

  main {
    flex-basis: 70%;
    text-align: center;
     
  }
  
  aside {
    flex-basis: 30%;
    font-size: 1.5rem;
  }
  
  
  section {
    display: flex;
  }
  
  article {
    font-size: 1.5rem;
  }

  code {
    background-color: #f3ff0a;
    color: #000000;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  iframe {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

}

/* Para pantallas de escritorio medianas: entre 992px y 1199px */
@media (min-width: 992px) and (max-width: 1699px) {

  html {
    font-size: 15px;
    font-weight: 300;
  }

  .hamburger {
    display: none;
  }

  .container {
    width: 95%;
  }

  .contenido-principal {
    display: flex;
    flex-direction: row-reverse;
  }
  
  main {
    flex-basis: 70%;

  }

  aside {
    flex-basis: 30%;


  }


  header {
    background-color: #1111fe;
  }

  iframe {
    height: 350px;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Para pantallas grandes: desde 1200px en adelante */
@media (min-width: 1700px) {

  html {
    font-size: 20px;
  }

  .container {
    width: 95%;
    display: flex;
    flex-direction: column;

  }
  
  .contenido-principal {
    display: flex;
    flex-direction: row-reverse;
  }

  main {
    width: 65%;

  }

  aside {
    display: flex;
    width: 30%;


  }

  header {
    background-color: #35fe11;
  }

  .hamburger {
    display: none;
  }

  .banner {
    width: 100%;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}